body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

.banner {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 20px;
}

.btn {
    background-color: grey;
    color: #fff;
    padding: 25px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3e8e41;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.feature {
    width: 30%;
    margin: 20px;
    text-align: center;
}

.feature i {
    font-size: 36px;
    margin-bottom: 10px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 18px;
    margin-bottom: 20;
}
.btn a {
    text-decoration: none;
    color: inherit;
  }